.loader{
    display: none;
    &.show{
        display: block;
    }
}

.card {
    display: inline-block;
    margin: 10px;
    position: relative;
    width:150px;
    height: 150px;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
    animation-delay: 2s;
    .front, .back{
        width:150px;
        height: 150px;
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: 0;
        left: 0;
    }
    .front{
        z-index: 1;
        background-image: url("https://i.pinimg.com/originals/ac/8b/82/ac8b82d8ec37c6bbe98d1ebc51a326a7.jpg");
    }
    .back{
        background-image: url(../images/loader.gif);
        transform: scaleX(-1);
    }

    &.card.is-flipped {
        transform: translateX(-100%) rotateY(-180deg);
        .back{
            z-index: 1;
        }
      }
}

.img-tank{
    //display: none;
}






